@model stylist.web.Models.CodeModel
<div class="row">
	<div class="col-md-12">
		@using (Html.BeginForm("Check", "Code", new {profile=Model.Profile}, FormMethod.Post))
		{
			<h1>C# code please!</h1>
			<div class="form-group">
				@Html.TextArea("code", Model.Code, new { rows = 20, style = "form-control" })
			</div>
			<button class="btn btn-lg btn-primary" type="submit">Проверить!</button>
		}
	</div>
</div>