body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.src-error {
	color: red;
	font-weight: bold;
	background-color: #DDF;
	cursor:pointer;
}

.src-keyword {
	font-weight: bold;
}

.src-comment {
	color: grey;
	font-style: italic;
}

.src-string {
	color: darkred;
}

#code {
	width:100%;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

h1 {
	margin-top: 50px;
}

h2 {
	padding-top: 10px;
	padding-bottom: 10px;
}

@-webkit-keyframes target {
	50% {
		 background:antiquewhite;
	}
}

h2:target {
	-webkit-animation:target .5s 4 linear;
}

pre {
    counter-reset: line-numbering;
}
pre .src-line::before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em; /* space after numbers */
    width: 1.5em;
    text-align: right;
    opacity: 0.5;
}

/* good-bad code samples*/
.goodbad-bad h3 {
	background-color: #fcc;
	padding:3px;
}
.goodbad-good h3 {
	background-color: #bfb;
	padding:3px;
}

.goodbad-bad {
	float:left;
	width:48%;
}

.goodbad-good {
	margin-left:52%;
}

