@using stylist.web.Models
@model CodeIssuesModel
<div class="row">
	<div class="col-md-12">
		<h1>Code Style Issues</h1>
		<ul>
			@foreach (var codeIssue in Model.CodeIssues.OrderBy(i => i.Span.Line))
			{
				<li><a href="#@codeIssue.Span.Line">@codeIssue</a></li>
			}
		</ul>
		<pre>
		@for (int index = 0; index < Model.Lines.Length; index++)
		{
			var line = Model.Lines[index];
			@Html.CodeLine(line, index+1, "src")
		}
		</pre>
	</div>
</div>

@Html.Partial("CheckYourCodeForm", Model)

@section scripts
{
	<script>
		$(".src-error").popover({trigger:"click", placement:"top", html:true});
	</script>
}
