@using stylist.web.Models
@model CodeIssuesModel
<div class="row">
	<div class="col-md-12">
		<h1>Code Style Issues</h1>
		<ul>
			@foreach (var codeIssue in Model.CodeIssues)
			{
				<li><code>@codeIssue</code></li>
			}
		</ul>
		<pre>
		@foreach (var line in Model.Lines)
		{
			@Html.CodeLine(line, "src")
		}
		</pre>
	</div>
</div>

@Html.Partial("CheckYourCodeForm", Model)

@section scripts
{
	<script>
		$(".src-error").popover({trigger:"hover", placement:"top"});
	</script>
}
